.header {
  margin-top: 10px;
  width: 770px;
  height: 100px;
}

.header-token {
  position: relative;
  left: 7px;
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}

.board-wrapper {
  width: 770px;
  background-color: yellow;
}

.board-row1 {
  padding-top: 5px;
}

.board-row {
  margin: 5px;
}

canvas {
  position: relative;
  left: 3px;
  margin-right: 5px !important;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}